
MUnchMates.xcworkspace/xcuserdata/andrew.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
MUnchMates.xcworkspace/xcuserdata/andrew.xcuserdatad/UserInterfaceState.xcuserstate
GoogleService-Info.plist
CertificateSigningRequest.certSigningRequest
