<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>931181899701-m233o5e742fp19ic63tgcivflfcrfucq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931181899701-m233o5e742fp19ic63tgcivflfcrfucq</string>
	<key>API_KEY</key>
	<string>AIzaSyBvUSjrOAikNdUnmcfCWMKAIBV_QtRL9Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>931181899701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MUnchMates.MUnchMates</string>
	<key>PROJECT_ID</key>
	<string>munch-mates-marquette</string>
	<key>STORAGE_BUCKET</key>
	<string>munch-mates-marquette.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:931181899701:ios:57ce4f1067ba8268</string>
	<key>DATABASE_URL</key>
	<string>https://munch-mates-marquette.firebaseio.com</string>
</dict>
</plist>
